<% include partials/header %>
<title><%= title %></title>
<canvas id="myCanvas"></canvas>
<script src = "/js/button.js"></script>
<script src = "/js/circlebutton.js"></script>
<script src = "/js/bar.js"></script>
<script src = "/js/card.js"></script>
<script src = "/js/animals.js"></script>
<% include partials/footer %>
