<% include partials/header %>
<link href="/css/landing.css" rel="stylesheet" type="text/css">
<title><%= title %></title>
<div id="loadingcat">
    <img src="/img/loading_blue.gif"/>
</div>
<canvas id="myCanvas"></canvas>
<script src = "/js/button.js"></script>
<script src = "/js/circlebutton.js"></script>
<script src = "/js/bar.js"></script>
<script src = "/js/maincanvas.js"></script>
<% include partials/footer %>