<% include partials/header %>
<h2>Your Profile</h2><br>
<h4>User Name: <%= username %></h4>
<h4>Native Language: <%= nativeL %></h4>
<h4>Target Language: <%= learningL %></h4>

<% include partials/footer %>