<% include partials/header %>
<title><%= title %></title>
<h1><%= userArray %></h1>
<canvas id="myCanvas" width="1000" height="632"></canvas>
<script src = "/js/button.js"></script>
<script src = "/js/circlebutton.js"></script>
<script src = "/js/bar.js"></script>
<script src = "/js/card.js"></script>
<script data-userId="<%= userId %>" id="bundle" src = "/js/bundle.js"></script>
<% include partials/footer %>
