#background{
    position: absolute;
    background-image: url("../img/flags.jpg");
    background-color: rgb(243, 242, 239);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center -10em;
    width: 100%;
    height: 90.6%;
    margin-top: -1.5em;
    
}


#logo{
    position: absolute;
    font-family: "Arial Black";
    text-align: center;
    transform: rotate(90deg);
    height:15%;
    
    margin: 2.85em 0em 0em -2.6em;
    font-size: 5.75em;
}

.top-buffer {
    margin-top: 37em;
}


.aboutbutton { display: block; border: 2px solid #69AF44; padding: .5em 0; text-align: center; border-radius: 4px; color: #69AF44; font-family: $font; font-size: 1em; background-color: white; text-decoration: none; }
.aboutbutton:hover { color: white; text-decoration: none; background-color: #69AF44; }
.aboutbutton:focus { color: #69AF44; text-decoration: none; background-color: white; }
.aboutbutton:active { box-shadow: inset 0 2px 5px rgba(0,0,0,0.1); color: white; background-color: #69AF44; }

#github {
    max-height: 3em;
}

#logo-name{
    text-orientation: upright;
    color:rgb(0, 125, 209);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 125, 209);
    text-shadow: 1px 3px rgb(0, 125, 209);
}
