<% include partials/header %>
<title><%= title %></title>
<link href="/css/landing.css" rel="stylesheet" type="text/css">
<title><%= title %></title>
<div id="background">
		<div id="general"></div>
			<div class="row top top-buffer">
				<div class="col-md-2 col-md-offset-11 s">
					<a href="https://github.com/SebastianKurp/CincoGatos"><img id="github" src="/img/githublogo.png" /></a>
				</div>
		</div>
</div>
<% include partials/footer %>