<% include partials/header %>
<link href="/css/profile.css" rel="stylesheet" type="text/css">


<div class="center">
    <h2>Your Profile</h2><br>
    <h4><u>User Name:</u> <%= username %></h4>
    <h4><u>Native Language:</u> <%= native %> </h4>
    <h4><u>Target Language:</u> <%= learning %> </h4>
</div>
<div class="form-group">
    <label>
        Pick the language you want to learn: <br />
        <select name="selectLL">
            <option value="Error">Select One</option>
            <option value="Spanish">Spanish</option>
            <option value="Polish">Polish</option>
            <option value="Arabic">Arabic</option>
            <option value="Japanese">Japanese</option>
        </select>
    </label>
</div>
<% include partials/footer %>