<% include partials/header %>
<link href="/css/customCards.css" rel="stylesheet" type="text/css">


<body>
    <div id="body">
        <h2 id="header">Upload Your Own Translations</h2>
        <h6>(Currently only supports .txt files)</h6>
        <form id="form">
            <label for="file">Choose a file</label></br>  
            <input id="file" type="file" accept=".txt"/>                 
            <span id="fileName">test</span>
        </form>
        
        <div class="displayTranslations" id="display">
            <ul id="list">
            </ul>
        </div>
    </div>
    <div id="loadingcat">
        <img src="/img/loading_blue.gif"/>
    </div>
</body>
<canvas id="myCanvas" width="1000" height="632"></canvas>
<script src = "/js/button.js"></script>
<script src = "/js/circlebutton.js"></script>
<script src = "/js/bar.js"></script>
<script src = "/js/progressBar.js"></script>
<script src = "/js/card.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script src = "/js/clientFirebase.js"></script>
<script src = "/js/customVocab.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<% include partials/footer %>